.card {
    cursor: pointer;

    &__image {
        cursor: pointer;
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
}

.meta {
    &__section {
        display: flex;
        justify-content: space-between;

        &__description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        &__price {
            display: flex;
            align-items: flex-end;
            color: black;

            &::after {
                content: '€';
                margin-left: 2px;
            }
        }
    }
}